body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #020617;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    width: 100%;
    background: #7c3aed;
    color: white;
    border: none;
    cursor: pointer;
}

hr {
    margin: 20px 0;
}

#message {
    margin-top: 10px;
    color: #22c55e;
}
